name: Release Packages

on:
  workflow_dispatch:
    inputs:
      pre:
        description: "Is this a NEW pre-release?"
        required: false
        default: false
        type: boolean
      level:
        description: "Release level"
        required: true
        default: "patch"
        type: choice
        options:
          - patch
          - minor
          - major
          - preup

jobs:
  release:
    name: Publish ${{ github.event.inputs.pre == 'true' && 'Pre-release' || 'Release' }} ${{ github.event.inputs.level }} version Package
    runs-on: ubuntu-latest
    permissions:
      contents: write
      packages: write
      actions: write
      checks: write
      deployments: write
      pull-requests: write
      repository-projects: write
      security-events: write
      statuses: write
      id-token: write
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          ref: ${{ github.head_ref }}

      - name: Set up Node.js
        uses: jdx/mise-action@v3
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          install_args: "node pnpm"
          cache: true

      - uses: pnpm/action-setup@v4

      # --- ここから追加 ---
      - name: Get pnpm store directory
        shell: bash
        run: |
          echo "STORE_PATH=$(pnpm store path --silent)" >> $GITHUB_ENV

      - uses: actions/cache@v4
        name: Setup pnpm cache
        with:
          path: ${{ env.STORE_PATH }}
          key: ${{ runner.os }}-pnpm-store-${{ hashFiles('**/pnpm-lock.yaml') }}
          restore-keys: |
            ${{ runner.os }}-pnpm-store-

      - name: Install dependencies
        run: pnpm i --frozen-lockfile

      - name: Build
        run: pnpm p:core build

      - name: Release git-turbo Package
        run: |
          if [ "${{ github.event.inputs.pre }}" == "true" ]; then
            pnpm p:core release --level ${{ github.event.inputs.level }} --pre
          else
            pnpm p:core release --level ${{ github.event.inputs.level }}
          fi

      - name: Get Current package version
        id: get-package-version
        run: |
          echo "PACKAGE_VERSION=$(node -p "require('./packages/core/package.json').version")" >> $GITHUB_OUTPUT

      - name: Create Pull Request
        run: |
          gh pr create \
            --title "Release v${{ steps.get-package-version.outputs.PACKAGE_VERSION }}" \
            --body "Release v${{ steps.get-package-version.outputs.PACKAGE_VERSION }}  This PR was automatically generated by the release workflow." \
            --base main \
            --reviewer takuma-ru \
            --label ":rocket: release" \
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Create GitHub Release
        id: create-release
        uses: release-drafter/release-drafter@v6
        with:
          version: ${{ steps.get-package-version.outputs.PACKAGE_VERSION }}
          prerelease: ${{ contains(steps.get-package-version.outputs.PACKAGE_VERSION, '-beta') }}
